<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HomeMainServlet</display-name>
    <servlet-name>HomeMainServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.HomeMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMainServlet</servlet-name>
    <url-pattern>/HomeMainServlet</url-pattern>
  </servlet-mapping>
  <display-name>JSP_AM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArticleDoDeleteServelet</display-name>
    <servlet-name>ArticleDoDeleteServelet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.ArticleDoDeleteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDoDeleteServelet</servlet-name>
    <url-pattern>/ArticleDoDeleteServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDoDelete</display-name>
    <servlet-name>ArticleDoDelete</servlet-name>
    <servlet-class>com.KoreaIT.java.am.ArticleDoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDoDelete</servlet-name>
    <url-pattern>/ArticleDoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDoWrite</display-name>
    <servlet-name>ArticleDoWrite</servlet-name>
    <servlet-class>com.KoreaIT.java.am.ArticleDoWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDoWrite</servlet-name>
    <url-pattern>/ArticleDoWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleWriteServlet</display-name>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <servlet-class>com.KoreaIT.java.am.ArticleWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleWriteServlet</servlet-name>
    <url-pattern>/ArticleWriteServlet</url-pattern>
  </servlet-mapping>
</web-app>